<section class="main-content" ng-controller="catCtrl"> <!-- -->
  <div class="game-board">
    <table class="game-scene">
      <tr class="rows categories">
        <th class="category">Cat1</th>
        <th class="category">Cat2</th>
        <th class="category">CAT3</th>
        <th class="category">CAT4</th>
        <th class="category">Cat5</th>
      </tr> <!-- -->
      <tr class="rows questions points">
        <th class="pointValue">100</th>
        <th class="pointValue">100</th>
        <th class="pointValue">100</th>
        <th class="pointValue">100</th>
        <th class="pointValue">100</th>
      </tr> <!-- end -->
      <tr class="rows questions points">
        <th class="pointValue">200</th>
        <th class="pointValue">200</th>
        <th class="pointValue">200</th>
        <th class="pointValue">200</th>
        <th class="pointValue">200</th>
      </tr> <!-- -->

    </table> <!-- -->
  </div>
</section><!--end main-content -->
