<section class="main-content" ng-controller="catCtrl"> <!-- -->
  <div class="game-board">
    <div class="create-form">
        <div class="form-group cat">
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 1" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 2" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 3" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">  
            <input type="text" class="form-control" placeholder="cat 4" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">
            <input type="text" class="form-control" placeholder="cat 5" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
        </div> <!-- end form-group cat-->
        <div class="form-group first">
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 1 100 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 2 100 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 3 100 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">  
            <input type="text" class="form-control" placeholder="cat 4 100 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">
            <input type="text" class="form-control" placeholder="cat 5 100 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
        </div>
        <div class="form-group second">
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 1 200 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 2 200 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 3 200 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">  
            <input type="text" class="form-control" placeholder="cat 4 200 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">
            <input type="text" class="form-control" placeholder="cat 5 200 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
        </div>
        <div class="form-group third">
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 1 300 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 2 300 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 3 300 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">  
            <input type="text" class="form-control" placeholder="cat 4 300 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">
            <input type="text" class="form-control" placeholder="cat 5 300 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
        </div>
        <div class="form-group fourth">
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 1 400 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 2 400 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 3 400 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">  
            <input type="text" class="form-control" placeholder="cat 4 400 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">
            <input type="text" class="form-control" placeholder="cat 5 400 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
        </div>
        <div class="form-group fifth">
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 1 500 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 2 500 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">            
            <input type="text" class="form-control" placeholder="cat 3 500 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">  
            <input type="text" class="form-control" placeholder="cat 4 500 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
          <form ng-submit="vm.onSubmit()">
            <input type="text" class="form-control" placeholder="cat 5 500 point q" ng-model="" required>
            <button type="edit" class="btn btn-info">Edit</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
        </div>

  </div> <!-- end create-form -->
</section><!--end main-content -->