<section class="landing-main">
    <h1 class="game-title">Welcome to Create a Quiz Game</h1>
    <div class="landing-container">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
            <button class="pointValue" type="button" name="button">
                <h1 class="front">Create a Game</h1>
                <p class="back">Build your own Quiz game! Create your own categories, questions, answers and more...!!!</p>
            </button>
            </div> <!--end flipper -->
        </div> <!--end flip container -->
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
            <button class="pointValue" type="button" name="button">
                <h1 class="front">Finish Playing a Game</h1>
                <p class="back">Already statrted playing a game? Load it here to finish. You can Do it!</p>
            </button>
            </div> <!--end flipper -->
        </div> <!--end flip container -->
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
            <button class="pointValue" type="button" name="button">
                <h1 class="front">Finish Building a Game</h1>
                <p class="back">Have you begun building a quiz? click me to Finish your what you started!</p>
            </button>
            </div> <!--end flipper -->
        </div> <!--end flip container -->
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
            <button class="pointValue" type="button" name="button">
                <h1 class="front">Play</h1>
                <p class="back">Just want to play? By all means click already!</p>
            </button>
            </div> <!--end flipper -->
        </div> <!--end flip container -->
    </div>
    
</section>